.app-container {
  padding: 20px;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #2d2d2d solid 1px;
}

.editor-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.users-list {
  background: #2d2d2d;
  padding: 15px;
  border-radius: 5px;
  color: white;
  width: 100%;
}

.users-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.users-list li {
  padding: 5px 0;
}

.cursor-decoration {
  background: rgba(250, 200, 0, 0.5);
  width: 2px !important;
  margin-left: -1px;
  z-index: 100;
  pointer-events: none;
  position: relative;
}

/* Generate different colors for different users */
.cursor-decoration::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: inherit;
}

.cursor-decoration-red {
  background: rgb(250, 0, 0);
  width: 2px !important;
  margin-left: -1px;
  z-index: 100;
  pointer-events: none;
  position: relative;
}

/* Generate different colors for different users */
.cursor-decoration-red::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: inherit;
}

.cursor-decoration-blue {
  background: rgb(0, 171, 250);
  width: 2px !important;
  margin-left: -1px;
  z-index: 100;
  pointer-events: none;
  position: relative;
}

/* Generate different colors for different users */
.cursor-decoration-blue::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: inherit;
}